extends ./layout/index

block contenido
  main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit, amet consectetur adipisicing elit.Laudantium illo consectetur excepturi dicta amet, veritatis quos vero accusantium voluptatum iusto eum ab natus eos quisquam repellendus, eius harum soluta quas.

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut possimus autem esse, porro dicta earum perferendis distinctio facilis, voluptate eos velit, dolores non veniam cupiditate vitae. Asperiores doloremque hic perspiciatis!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reprehenderit aliquam, aspernatur, facere error fugit impedit nostrum quasi aperiam, laboriosam laudantium repellendus ullam ea natus incidunt ipsum. Eaque, obcaecati consectetur? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus autem sed consectetur ducimus voluptate labore, tenetur harum, nesciunt adipisci, sequi deleniti aperiam natus omnis vel illo saepe aliquam modi molestias.

        .listado-iconos 
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. In animi, iusto odio nemo illo eum quis corrupti consequuntur nostrum aspernatur ad dolorem, ipsa earum magnam, voluptatum ex et sunt perferendis.

                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. In animi, iusto odio nemo illo eum quis corrupti consequuntur nostrum aspernatur ad dolorem, ipsa earum magnam, voluptatum ex et sunt perferendis.

                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Precios
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. In animi, iusto odio nemo illo eum quis corrupti consequuntur nostrum aspernatur ad dolorem, ipsa earum magnam, voluptatum ex et sunt perferendis.